<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Job administration website"/>
    <meta name="keywords" content="JOBS, EMPLOYMENT"/>
    <title>JobAdmin</title>
  </head>
  <body>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About Us</a>
    {% if user.is_authenticated %}
      {% if user.is_superuser %}
        <a href="{% url 'user_index' %}">Employees</a>
        <a href="{% url 'job_index' %}">Jobs</a>
      {% else %}
        <a href="{% url 'job_index' %}">Jobs</a>
      {% endif %}
      <a href="{% url 'user_profile' user.id %}">{{ user.username }}' Profile</a>
      <a href="{% url 'user_logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'user_login' %}">Login</a>
    {% endif %}
    {% block content %}
    {% endblock content %}
  </body>
</html>
